#portfolio-wrap {
	display: grid;
/*
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
*/
	grid: 
		"proj-1 proj-2 proj-3" 1fr
		"proj-4 proj-5 proj-6" 1fr
		/ 1fr 1fr 1fr;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
/* 	padding: 24px 0 24px 24px; */
	padding: 28px;
	margin: 0 auto;
}
#proj-1 {
	grid-area: proj-1;
}
#proj-2 {
	grid-area: proj-2;
}
#proj-3 {
	grid-area: proj-3;
}
#proj-4 {
	grid-area: proj-4;
}
#proj-5 {
	grid-area: proj-5;
}
#proj-6 {
	grid-area: proj-6;
}
.project-wrap {
	position: relative;
/*
	height: 180px;
	width: 240px;
*/
	height: 250px;
	width: 250px;
	margin: 0 auto;
	padding: 0;
/* 	background: blue; */
}
.project-text {
	width: 75%;
	height: 20%;
	position: absolute;
	right: 0;
	bottom: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	font-size: 1.2em;
/* 	background: #4AAAA5; */
/* 	opacity: 0.80; */
/* 	opacity: 0.85; */
	background: rgba(74,170,165, 0.9);
	
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.project-img {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
/* 	background: yellow; */
}
.project-img img {
	margin: 0;
	padding: 0;
/*
	height: 100%;
	width: 100%;
*/
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


.project-img img:hover,
.project-img:hover {
	opacity: 0.85;
/* 	border-radius: 50%; */
/* 	box-shadow: inset 0 0 10px 10px #4AAAA5; */
}
.project-img:hover + .project-text,
.project-text:hover {
/* 	opacity: 1; */
	background: rgba(74, 170, 165, 1);
}
